@font-face {
  font-family: "hjiconfont"; /* Project id 3874224 */
  src: url('iconfont.woff2?t=1675740458796') format('woff2'),
       url('iconfont.woff?t=1675740458796') format('woff'),
       url('iconfont.ttf?t=1675740458796') format('truetype');
}

.hjiconfont {
  font-family: "hjiconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconrss:before {
  content: "\e652";
}

.iconduomeiti-:before {
  content: "\e710";
}

.iconduoyun:before {
  content: "\e6f3";
}

.iconsun:before {
  content: "\e603";
}

.iconicon-test:before {
  content: "\e604";
}

.iconicon-test1:before {
  content: "\e605";
}

.iconicon-test2:before {
  content: "\e607";
}

.iconicon-test3:before {
  content: "\e608";
}

.iconicon-test4:before {
  content: "\e609";
}

.iconicon-test5:before {
  content: "\e60a";
}

.iconicon-test6:before {
  content: "\e60b";
}

.iconicon-test7:before {
  content: "\e60c";
}

.iconicon-test8:before {
  content: "\e60d";
}

.iconicon-test9:before {
  content: "\e60e";
}

.iconicon-test10:before {
  content: "\e60f";
}

.iconicon-test11:before {
  content: "\e610";
}

.iconicon-test12:before {
  content: "\e611";
}

.iconicon-test13:before {
  content: "\e612";
}

.iconicon-test14:before {
  content: "\e613";
}

.iconicon-test15:before {
  content: "\e614";
}

.iconicon-test16:before {
  content: "\e615";
}

.iconicon-test17:before {
  content: "\e616";
}

.iconicon-test18:before {
  content: "\e617";
}

.iconicon-test19:before {
  content: "\e618";
}

.iconicon-test20:before {
  content: "\e619";
}

.iconicon-test21:before {
  content: "\e61a";
}

.iconicon-test22:before {
  content: "\e61b";
}

.iconpaomadeng_fuzhi:before {
  content: "\e606";
}

.icontianqi:before {
  content: "\e694";
}

.iconwodeyizhou:before {
  content: "\e623";
}

.iconPDF:before {
  content: "\e61d";
}

.iconjishishalou:before {
  content: "\e61e";
}

.iconapk:before {
  content: "\e653";
}

